/*Variable*/
$splash-color:#fff;
$btn-color:#fed136;
$main-font-family:'Montserrat', sans-serif;
/*global*/
body{
  font-family: $main-font-family;
}
/*splash*/
.header{
  background-image: src
}
.nav-item{
  padding: 20px;
  color: white;
}
.nav-item:hover{
  color: grey;
}
.brand{
  padding-top: 30px;
}
.btn{
  color: #fff;
}

/*main*/
.main-inner{
  position: relative;
  padding: 200px 0 200px;
  text-align: center;
}
.background{
background: url(/images/Splash-min.jpg);
background-position: center;
background-size: cover; 
position: relative;
}
.main-text1, .main-text2{
  color: white;
}
.main-text1{
  font-size: 40px;
}
.main-text2{
  font-size: 80px;
  font-weight: 900;
}
/* Services*/
.title{
  position: relative;
  padding: 100px 0 80px;
  text-align: center;
}
.serv{
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}
/*Protfolio*/
.backport{
  background-color: lightgray;
}
.title-portfolio{
  position: relative;
  padding: 100px 0 50px;
  text-align: center;
}
.card{
  margin: 25px 20px 25px 20px;
}
.card-body{
  text-align: center;
}
.card-text{
  color: lightgray;
}
.title-port{
  font-size: 45px;
  font-weight: 900;
}
.title-p{
  color: grey;
}
/*Footer*/
.footer-ic{
  padding: 45px 10px;
}
.icons{
  text-align: center;
  font-size: 50px;
  padding: 20px 0 15px;
}
